{% extends 'base.html' %}

{% block title %}Roles{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <input name="" id="" class="btn btn-primary" type="button" value="Agregar" style="margin: 10px;">
                    <table class="table table-hover table-bordered" id="tabloCobros">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Placa</th>
                                <th>Modelo</th>
                                <th>Color</th>
                                <th>Chasis</th>
                                <th>Marca</th>
                                <th>Status</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Carlos</td>
                                <td>Henández</td>
                                <td>carlos@info.com</td>
                                <td>78542155</td>
                                <td>Administrador</td>
                                <td>Activo</td>
                                <td>
                                    <input name="" id="" class="btn btn-info" type="button" value="Editar">
                                    |
                                    <input name="" id="" class="btn btn-danger" type="button" value="Borrar">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}